<h1>Edit <%=@user.username%> user</h1>

<%= form_for (@user) do |f| %>
  Your user name here: <%= f.text_field :username %><br />
  Email : <%= f.text_field :email, placeholder: "example@mail.com" %><br />
  Password : <%= f.password_field :password %><br />
  <%= f.submit "Send" %>
<% end %>
